<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="{%url 'index'%}">
        <table style="width:50%">
            <tr>
                <th>
                    <textarea name="text" cols="10" rows="20"></textarea>
                </th>
            </tr>
            <tr>
                <th><input type="submin">7</input></th>
                <th>8</th>
                <th>9</th>
                <th>+</th>
            </tr>
            <tr>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>-</th>
            </tr>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>x</th>
            </tr>
            <tr>
                <th>0</th>
                <th>=</th>
                <th>%</th>
                <th>/</th>
            </tr>
        </table>
    </form>
</body>
</html>